<launch>

	<node pkg="rgb_pcd_kinect_fusion_t1" type="rgb_pcd_kinect_fusion_t1" name="rgb_pcd_kinect_fusion_t1"  output="screen">
		<param name="image_topic" value="/vrep/turtlebot1/rgb/image_rect_color" />
		<param name="pcl_topic" value="/vrep/turtlebot1/depth/pcd"/>
		<param name="pcd_color_topic" value="/vrep/turtlebot1/depth/pcd_colored" />
		<param name="pcd_rect_topic" value="/vrep/turtlebot1/depth/pcd_rect"/>
		<param name="far_clip" type="double" value="3.5" />
	</node>

</launch>
